<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="OSBFront-BaseFolder" value ="C:\GIT\integration-dev--QAM\4.OSB\1-Front"/>
    <add key ="OSBBack-BaseFolder" value ="C:\GIT\integration-dev--QAM\4.OSB\2-Back"/>
    <add key ="CarpetaInforme" value ="C:\trabajo\revision\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>