<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="User" value="rvenegas"/>
    <add key="Password" value="Hernan14"/>
    <add key="MySQL160L" value="server=172.22.76.21; Port=13306; uid=datos_oer_dev; pwd=Dev.1234; database=datos_oer_dev;SslMode=none" />
    <add key="MySQL160" value="server=localhost; Port=13306; uid=datos_oer2; pwd=Hernan.72; database=datos_oer;SslMode=none" />
    <add key="OracleOER" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=rdp4-scan2.dtvpan.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=SHESBP11)));User Id=PROD_OER;Password=prod_oer;" />
    <add key="ModoConexionLista" value="FL"/>
    <add key="ModoConexionAsset" value="WS"/>
    <add key="AssetsFL" value="C:\Trabajo\ASSETS_202203021221.csv"/>
  </appSettings>
</configuration>