<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key ="APIM_Token_Url" value="https://api.cloud.wso2.com:8243"/>
    <add key ="APIM_ConsumerKey" value="hO0GZDXotavSQaMcPlf0oUGm0Ywa"/>
    <add key ="APIM_ConsumerSecret" value="_jwQOnvg4ALL_myCHOxt3ZGirfsa"/>
  </appSettings>
</configuration>