<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OER_CargaDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <OER_CargaDatos.Properties.Settings>
      <setting name="OER_CargaDatos_OerProd_FlashlineRegistryService"
          serializeAs="String">
        <value>https://soacatalog-oci.dtvpan.com/oer/services/FlashlineRegistry</value>
      </setting>
    </OER_CargaDatos.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <!--add key="Path" value="C:\Users\rvenegas\SkyDrive\Requerimientos Directv\2014 03 26 Carga OER Productivo APP-Servicios\"/-->
    <add key="Path" value="C:\Trabajo\oer\"/>
    <add key="PathROI" value="C:\Users\Rodrigo\SkyDrive\Requerimientos Directv\2014 09 08 Calculo ROI de servicios OER\"/>
    <add key="User" value="rvenegas"/>
    <add key="Password" value="Hernan14"/>
    <!--add key="Xe160" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.22.80.160)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=xe)));User Id=datos_oer;Password=Hernan72"/-->

    <add key="MySQL160" value="server=172.22.80.160; Port=13306; uid=datos_oer_dev; pwd=1234; database=datos_oer_dev;SslMode=none"/>
    <add key="MySQL160L" value="server=172.22.80.160; Port=13306; uid=datos_oer; pwd=Hernan72; database=datos_oer;SslMode=none"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
