<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseFolder" value="C:\GIT\resb"/>
    <add key="folderPattern" value="*.bpel"/>
    <add key="Path" value="C:\Trabajo\revision\"/>
    <add key="MySQL160" value="server=localhost; Port=13306; uid=datos_oer2; pwd=Hernan.72; database=datos_oer;"/>
    <add key="MySQL160L" value="server=localhost; Port=13306; uid=datos_oer_dev; pwd=Dev.1234; database=datos_oer_dev;"/>
    <add key="FoldersToParse" value="C:\Trabajo\revision\carpetas.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PathGV" value="C:\Trabajo\revision\"/>
    <add key="DotEXE" value="C:\RESPALDOS\Herramientas\graphviz\bin\dot.exe"/>

    <add key="St_ServicioDeprecado" value="style = rounded; color=red; penwidth=3; fontname=Verdana; fontsize=16; bgcolor=cornsilk;"/>
    <add key="St_ServicioActivo" value="style = rounded; color=bisque4; penwidth=3; fontname=Verdana; fontsize=16; bgcolor=cornsilk;"/>
    <add key="St_Operacion" value="shape=box, color=blue, fontname=Verdana, fontsize=12"/>
    <!-- sin ";" final-->
    <add key="St_Servicio" value="shape=box, penwidth=3, fontname=Verdana, fontsize=20"/>
    <!-- sin ";" final-->
  </appSettings>
</configuration>