<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="OSBFront-BaseFolder" value ="C:\GIT\integration-dev-master\4.OSB\1-Front\OSBConfigurationFront"/>
    <add key ="OSBBack-BaseFolder" value ="C:\GIT\integration-dev-master\4.OSB\2-Back\OSBConfigurationBACK"/>
    <add key ="CarpetaInforme" value ="C:\trabajo\revision\"/>
  </appSettings>
</configuration>