<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ResponseFolder" value="C:\Users\rvenegas\OneDrive - VRIO DIRECTV\VSCODE\vscPython\responses\"/>
		<add key="ArchivoClientes" value="C:\Users\rvenegas\OneDrive - VRIO DIRECTV\VSCODE\vscPython\clientes-k2v-ibs-2.txt"/>
		<add key="ArchivoLog" value="C:\Users\rvenegas\OneDrive - VRIO DIRECTV\VSCODE\vscPython\log.txt"/>
	</appSettings>
</configuration>